@import url(http://fonts.googleapis.com/css?family=Roboto);
*
{
    font-family: 'Roboto' , sans-serif;
}
body
{
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0.4),  rgba(0,0,0,0.9)), url("/src/img/bg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#element{
    color: yellow;
}

.background {
  
    position:absolute;
    display:block;  
    top: 0;  
    left: 0;   
    z-index: 0;
    }