@import url(http://fonts.googleapis.com/css?family=Roboto);
*
{
    font-family: 'Roboto' , sans-serif;
}
body
{
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0.4),  rgba(0,0,0,0.9)), url("/src/img/bg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-actions
{
    margin-top: 15px;
    margin-bottom: 15px;
}
.error-actions .btn
{
    margin-right: 10px;
}
.message-box h1
{
    color: #252932;
    font-size: 98px;
    font-weight: 700;
    line-height: 98px;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}